body {

/*.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-apple1 {
    width: 256px;
    height: 256px;
    background-position: -5px -5px;
}

.sprite-apple10 {
    width: 256px;
    height: 256px;
    background-position: -271px -5px;
}

.sprite-apple2 {
    width: 256px;
    height: 256px;
    background-position: -537px -5px;
}

.sprite-apple3 {
    width: 256px;
    height: 256px;
    background-position: -5px -271px;
}

.sprite-apple4 {
    width: 256px;
    height: 256px;
    background-position: -271px -271px;
}

.sprite-apple5 {
    width: 256px;
    height: 256px;
    background-position: -537px -271px;
}

.sprite-apple6 {
    width: 256px;
    height: 256px;
    background-position: -5px -537px;
}

.sprite-apple7 {
    width: 256px;
    height: 256px;
    background-position: -271px -537px;
}

.sprite-apple8 {
    width: 256px;
    height: 256px;
    background-position: -537px -537px;
}

.sprite-apple9 {
    width: 256px;
    height: 256px;
    background-position: -803px -5px;
}
}*/
